
<div class="container"> 

  <div class="row">  
   <div class="col-md-3">    
     <h2>User info</h2>
        
      <table class = "table">
        <tbody>
          
          
            <%= form_with model: @user, local: true, multipart: true do |f| %>
            
              <% if @user.profile_image.attached? %>
                <%= image_tag user.profile_image.variant(resize_to_limit: [100, 100]) %>
              <% else %>
                <%= image_tag 'default-image', size: "100x100" %>
              <% end %>
              
            <% end %>
        
          <tr></tr>
          <tr>
            <th>name</th>
            <th>
               <%= current_user.name %>
            </th>
          </tr>
          <tr>
            <th>introduction</th>
            <th>
            　<%= current_user.introduction %>
            </th>
          </tr>
        </tbody>
      </table>
      
      <div class = "row">
          
        <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
          
      </div>
      
      <h2>New book</h2>

        <%= form_with model: Book.new do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
        	
          <h4>Opinion</h4>
          <%= f.text_area :body %>
        	
          <%= f.submit 'Create Book' %>
        <% end %>
   </div>
    
    
    <div class="col-md-8 offset-md-1"> 
     <h2>Users</h2>
      <table class="table table-striped">
        
        <thead>
         <tr> 
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
         </tr> 
        </thead>
        
        <tbody>
            <% @users.each do |user| %>
              <tr>
                
                <td>
                  <% if user %>
                    <%= image_tag user.get_profile_image(100,100) %>
                  <% else %>
                    <%= image_tag 'default-image', size: "100x100" %>
                  <% end %>
                </td>
                
                <td>
                 <%= user.name %>
                </td>
                
                <th>
                　 <%= link_to "Show", user_path(user) %>
                </th>
                
              </tr>
            <% end %>
          </tbody>
          
           
        </table>
      </div> 
    </div>
 
  </div>
</div>