
      <h2>User info</h2>
        
          <% if user && user.profile_image.attached? %>
            <%= image_tag user.profile_image.variant(resize_to_limit: [100, 100]).processed %>
          <% else %>
            <%= image_tag 'default-image', size: "100x100" %>
          <% end %>
          
        
      <table class = "table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th>
               <%= current_user.name %>
            </th>
          </tr>
          <tr>
            <th>introduction</th>
            <th>
            　<%= current_user.introduction %>
            </th>
          </tr>
        </tbody>
      </table>
      
      <div class = "row">
          
        <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
          
      </div>
      
      
      <h2>New book</h2>

        <%= form_with model: book do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
        	
          <h4>Opinion</h4>
          <%= f.text_area :body %>
        	
          <%= f.submit 'Create Book' %>
        <% end %>

    
    
