<div class="container">  
 <div class="row">  
    <div class="col-md-3">
     <%= render 'books/make',user: @book.user,book: @apple %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-striped">
        
        <tbody>
           
              <th> 
                
                  <% if @book.user.profile_image.attached? %>
                    <%= image_tag @book.user.profile_image.variant(resize_to_limit: [100, 100]).processed %>
                    <div>
                  　    <%= link_to @book.user.name,user_path(@book.user) %>
                  　</div>
                  <% else %>
                    <%= image_tag 'default-image', size: "100x100" %>
                    <div>
                  　    <%= link_to @book.user.name,user_path(@book.user) %>
                  　</div>
                  <% end %>
              </th>
           
              <th>
                <%= link_to @book.title, book_path(@book) %>
              </th>
              
              <th>
                <%= @book.body %>
              </th>
              
              <th>
                <a class = "btn btn-sm btn-success edit_book">
                  <% if @book.user == current_user %>
                     <%= link_to "Edit", edit_book_path(@book) %>
                  <% end %>
                 </a>
              </th>
              
              <th>
              　  <% if @book.user == current_user %>
                   <%= link_to "Destroy", book_path(@book), method: :delete %>
                 <% end %>
              </th>
              
            
       
        </tbody>
          
           
      </table>
    </div> 
 </div>
</div>
</div>
</div>

