<div class="container">  
 <div class="row">  
    <div class="col-md-3">
     <%= render 'books/make' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
                <% if @book.image.attached? %>
                　<%= image_tag @book.image, size: "100x100" %>
                　<%= @book.user.name %>
                <% else %>
                　<%= image_tag 'default-image', size: "100x100" %>
                　<div>
                　    <%= link_to @book.user.name,user_path(@book) %>
                　</div>
                <% end %>
              <th>
              <%= link_to @book.title, book_path(@book) %>
              </th>
              <th>
              　 <%= @book.body %>
              </th>
              <th>
              　 <%= link_to "Edit", edit_book_path(@book) %>
              </th>
              <th>
              　  <% if @book.user == current_user %>
                   <%= link_to "Destroy", book_path(@book), method: :delete %>
                 <% end %>
              </th>
            </td>
              
           </tr>
        </tbody>
          
           
      </table>
    </div> 
 </div>
</div>
</div>
</div>

